body {
	max-width:1008px;
	margin:auto;
	background-color:#f8f8f8;
	font-family:verdana;
  font-size:13px;
  line-height:17px;
}
body > div {
  padding: 0px 10px 10px;
  background-color:#ffffff;
}
sup,sub {
  font-size:11px;
  vertical-align:baseline;
  position:relative;
}
sup {
  bottom:5px;
}
sub {
  top:3px;
}

/* ******************************************************************** misc */

.le {
  clear:left;
  float:left;
}
.ri {
  margin-left:30px;
}
.nw {
  white-space:nowrap;
}
.aft {
  position:relative;
  bottom:1px;
  padding:0px 1px 0px;
  font-size:85%;
}
.poi {
  position:relative;
  bottom:8px;
  margin-right:3px;
  margin-left:-7px;
}
.vec {
  position:relative;
  bottom:3px;
  margin-left:-7px;
  margin-right:-3px;
  font-size:120%;
}
.dn {
	font-size:80%;
}
.up {
	font-size:120%;
}

/* ***************************************************************** spacing */

.in {
  margin-left:14px;
}
.out {
  margin-left:-14px;
  padding-right:2px;
}
.mt1 {
  margin-top:10px;
}
.mt2 {
  margin-top:20px;
}
.ldf {
  margin-right:-1px;
}
.ws4 {
  word-spacing:-1px;
}
.p01 {
  padding-right:1px;
}
.p10 {
  padding-left:1px;
}
.p11 {
  padding-left:1px;
  padding-right:1px;
}
.p02 {
  padding-right:2px;
}
.p20 {
  padding-left:2px;
}
.p22 {
  padding-left:2px;
  padding-right:2px;
}
.p03 {
  padding-right:3px;
}
.p30 {
  padding-left:3px;
}
.p33 {
  padding-left:3px;
  padding-right:3px;
}
.p04 {
  padding-right:4px;
}
.p40 {
  padding-left:4px;
}
.p44 {
  padding-left:4px;
  padding-right:4px;
}
.p06 {
  padding-right:6px;
}
.p60 {
  padding-left:6px;
}
.p66 {
  padding-left:6px;
  padding-right:6px;
}

/* ******************************************************************* decos */

.abs {
  border-right:1px solid;
  border-left:1px solid;
}

.one {
	border-top:1px dashed;
	border-right:1px solid;
	border-bottom:1px dashed;
	border-left:1px solid;
	border-radius:8px;
	padding:0px 4px;
}
.box {
	border-right:solid 2px;
	border-bottom:solid 2px;
  margin-right:2px;
  padding:0px 2px;
}
.bsp {
  background-color:#f8f8f8;
  padding-top:4px;
  padding-bottom:6px;
}
.ll {
  border-left:solid 1px;
  padding-left:4px;
}
.ol {
  text-decoration:overline;
}
.oo {
	border-top:1px solid;
	padding-top:3px;
}
.uo {
  position:relative;
  bottom:1px;
  border-bottom:solid 1px;
}
.ui {
  position:relative;
  top:1px;
}

/* ****************************************************************** tables */

.t0 {
  border-collapse:collapse;
}
.tc {
  border-width:1px;
  padding-left:8px;
  padding-right:8px;
  text-align:center;
}
.tl {
  border-width:1px;
  padding-left:8px;
  padding-right:8px;
  text-align:left;
}
.tr {
  border-width:1px;
  padding-left:8px;
  padding-right:8px;
  text-align:right;
}
.bt {
  border-top-style:solid;
}
.br {
  border-right-style:solid;
}
.bb {
  border-bottom-style:solid;
}
.bl {
  border-left-style:solid;
}
.cg {
  background-color:#f8f8f8;
}

/* ******************************************************************* roots */

.r1t {
  position:relative;
  top:1px;
  left:1px;
  font-family:times;
  font-size:18px;
}
.r2a {
  position:relative;
  top:2px;
  left:1px;
  font-family:arial;
  font-size:18px;
}
.rad {
  border-top:solid 1px;
  padding:1px 0px 0px 3px;
}

/* *************************************************************** in-blocks */

.brac {
  display:inline-block;
  vertical-align:middle
}
.mid {
  float:left;
  text-align:center;
}
.lb1,.rb1 {
  float:left;
  line-height:43px;
  width:17px;
  border-radius:10px;
}
.lb1 {
  margin-right:-10px;
  border-left:solid 1px;
}
.rb1 {
  margin-left:-10px;
  border-right:solid 1px;
}
.lb2,.rb2 {
  float:left;
  line-height:42px;
  border-top:solid 1px;
  border-bottom:solid 1px;
}
.lb2 {
  margin-right:3px;
  border-left:solid 1px;	
}
.rb2 {
  margin-left:3px;
  border-right:solid 1px;
}
.frac {
  display:inline-block;
  text-align:center;
  vertical-align:-66%;
  word-spacing:-1px;
}
.num {
  border-bottom:solid 1px;
  padding-bottom:2px;
}
.den {
  padding-top:2px;
}
.lim {
  display:inline-block;
  text-align:center;
  vertical-align:-72%;
}
.sum {
  display:inline-block;
  vertical-align:middle;
  position:relative;
  bottom:1px;
}
.eos,.sos {
  font-size:11px;
  text-align:center;
}
.sos {
  margin-top:-4px;
}
.bbr  {
	float:left;
	padding-right:2px;
	padding-left:2px;
	text-align:center;
}
.lbr {
  float:left;
  border-top:solid 1px;
  border-bottom:solid 1px;
  border-left:solid 1px;
  padding-left:4px;
}
.rbr {
  float:left;
  border-top:solid 1px;
  border-bottom:solid 1px;
  border-right:solid 1px;
  padding-right:4px;
}
	
/* ****************************************************************** colors */

.blau {
  color:#0000f0;
}
.grau {
  color:#999999;
}
.gruen {
  color:#00b000;
}
.rot {
  color:#ff0000;
}
a {
  color:#000000;
  text-decoration: none;
}

/* ***************************************************************** rel-top */

.to1 {
	position:relative;
	top:1px;
}

.to2 {
	position:relative;
	top:2px;
}

.to3 {
	position:relative;
	top:3px;
}

.to4 {
	position:relative;
	top:4px;
}

.to5 {
	position:relative;
	top:5px;
}

.to6 {
	position:relative;
	top:6px;
}

.to7 {
	position:relative;
	top:7px;
}

.to8 {
	position:relative;
	top:8px;
}

.to9 {
	position:relative;
	top:9px;
}

.to10 {
	position:relative;
	top:10px;
}

.to11 {
	position:relative;
	top:11px;
}

.to17 {
	position:relative;
	top:17px;
}

/* ************************************************************** rel-bottom */

.bo1 {
	position:relative;
	bottom:1px;
}

.bo2 {
	position:relative;
	bottom:2px;
}

.bo3 {
	position:relative;
	bottom:3px;
}

.bo4 {
	position:relative;
	bottom:4px;
}

.bo5 {
	position:relative;
	bottom:5px;
}

.bo6 {
	position:relative;
	bottom:6px;
}

.bo7 {
	position:relative;
	bottom:7px;
}

.bo8 {
	position:relative;
	bottom:8px;
}

.bo9 {
	position:relative;
	bottom:9px;
}

.bo10 {
	position:relative;
	bottom:10px;
}

.bo11 {
	position:relative;
	bottom:11px;
}

.bo17 {
	position:relative;
	bottom:17px;
}